@font-face{
	font-family: PBS;
	src: url("../fonts/PompadourBoldSample.ttf");
}

@font-face{
	font-family: PTS;
	src: url("../fonts/PompadourTextSample.ttf");
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: none;
}

body{
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to right, #757f9a, #d7dde8);
	overflow: hidden;
}

/********** CURSOR START **********/
#cursor_circle{
	width: 50px;
	height: 50px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	background-color: deeppink;
	opacity: 0.3;
	border-radius: 50%;
	pointer-events: none;
	z-index: 998;
	transition: 0.1s;
}

#cursor{
	width: 10px;
	height: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	background-color: #252525;
	border-radius: 50%;
	pointer-events: none;
	z-index: 999;
}

/********** CURSOR END **********/

/********** SEARCH START **********/

#search-box{
	position: fixed;
	top: 2vh;
	left: 2vh;
}

#search {
	border: none;
	background: none;
	z-index: 1;
	padding: 15px;
	width: 25px;
	height: 25px;
	transition: all 0.25s ease-in 0.25s;
	color: transparent;
	font-size: 1rem;
	line-height: 25px;
	font-family: PTS;
}

#search:hover + span {
	background: rgba(255, 141, 220, 0.5);
}

#search:focus {
	width: 200px;
	padding: 15px;
	outline: none;
	background: none;
	color: white;
}

#search:focus + span {
	width: 200px;
}

#search:focus + span::before {
	width: 2px;
	opacity: 0;
	transition: all 0.25s ease-in;
}

#search + span {
	z-index: -1;
	position: absolute;
	border: 3px solid white;
	top: 0;
	width: 25px;
	height: 25px;
	transition: all 0.25s ease-in 0.25s;
	border-radius: 25px;
	left: 0;
}

#search + span::before {
	transition: all 0.25s ease-in 0.5s;
	transform-origin: left top;
	content: "";
	position: absolute;
	width: 12px;
	height: 5px;
	border-radius: 5px;
	background: white;
	transform: rotate(45deg) translate(24px, -2px);
}

#search::placeholder{
	color: rgba(255,255,255,0.5);
	font-family: PTS;
}

/********** SEARCH END **********/

#social{
	position: fixed;
    top: 3vh;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 3vh;
    width: 15vw;
    left: 50vw;
    transform: translateX(-50%);
}

#social i{
	transition: 0.5s;
}

#social a{
	color: #fff;
}

/********** LOGO START **********/

#logobox{
	position: fixed;
    border-width: 1vh;
    border-style: solid;
    border-color: rgba(255,141,220,0.5);
    right: 2.5vh;
    top: 2vh;
    width: 11vh;
    height: 11vh;
    transform: rotate(7deg);
}
#logolineup{
	position: fixed;
    display: inline-block;
    height: 0.57vh;
    width: 0;
    right: 15vh;
    top: 4.5vh;
	background: #fff;
	animation: logoup 1s 2s forwards;
}

@keyframes logoup{
	0%{
		width: 0;
	}
	100%{
		width: 7vw;
	}
}

#logolinedown{
	position: fixed;
    display: inline-block;
    background-color: #fff;
    width: 0.57vh;
    height: 0;
    right: 3vw;
	top: 15vh;
	animation: logodown 1s 2s forwards;
}

@keyframes logodown{
	0%{
		height: 0;
	}
	100%{
		height: 7vw;
	}
}

#Logo{
	height: 11vh;
    position: fixed;
    right: 1.8vh;
	top: 2vh;
	transition: 0.5s;
	z-index: 2;
}

#Logo:hover{
	transform: scale(1.15);
	transition: 0.5s;
}

/********** LOGO END **********/

/********** NAVIGATION START **********/

#Navigation{
	position: fixed;
    width: 7vw;
    height: 75vh;
    top: 12.5vh;
	background: linear-gradient(to top, #ff90ff, #ffccff);
	z-index: 3;
	clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
	transition: width 0.5s 1.2s, clip-path 0.5s 1.6s, height 0.5s 0.8s, top 0.5s 0.8s;
	animation: nload 1.5s both;
}

.noa{
	animation:none !important;
}

@keyframes nload{
	0%{
		left: -100%;
	}
	50%{
		left: 0;
	}
	100%{
		left: -3vw;
	}
}

#Navigation.navout{
	width: 135vw;
	height: 100vh;
	top: 0;
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	transition: width 0.5s 0.6s, clip-path 0.5s, height 0.5s 1.1s, top 0.5s 1.1s;
}

#icon{
	width: calc(4vw * 0.8);
    height: 15px;
    position: fixed;
    top: 50vh;
    left: 2vw;
    transform: translate(-50%, -50%);
	z-index: 5;
	transition: 0.5s;
}

.icon-menu{
	display: inline-block;
	position: absolute;
	background-color: #fff;
	width: 80%;
	left: 50%;
	transform: translateX(-50%); 
	height: 3px;
	border-radius: 15%;
	transition: 0.5s;
}

.icon-menu.first{
	top: 0;
}

.icon-menu.mid{
	width: 100%;
	top: 6px;
	transform: none;
	left: 0;
}

.icon-menu.last{
	top: 12px;
}

#icon:hover .icon-menu.last, #icon:hover .icon-menu.first{
	width: 100%;
	transition: 0.5s;
}

#icon.iconActive .icon-menu.mid{
	display: none;
}

#icon.iconActive .icon-menu.first{
	transform: rotate(45deg) translate(8px);
	transition: 0.5s;
	left: 0%;
}

#icon.iconActive .icon-menu.last{
	transform: rotate(-45deg) translate(8px);
	transition: 0.5s;
	left: 0%;
}

#icon.iconActive:hover .icon-menu.first{
	transform: rotate(45deg);
	transition: 0.5s;
}

#icon.iconActive:hover .icon-menu.last{
	transform: rotate(-45deg);
	transition: 0.5s;
}

#Navigation ul{
	position: fixed;
    top: 50vh;
	left: 50vw;
    list-style-type: none;
    color: #252525;
    font-size: 3.5vw;
    font-family: PBS;
    opacity: 0;
    text-align: center;
}

#Navigation ul.showMenu{
	animation: slit-in-diagonal-1 0.45s 1.3s ease-out both;
}

@keyframes slit-in-diagonal-1 {
	0% {
		transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg) translateX(-50%) translateY(-50%);
		animation-timing-function: ease-in;
	    opacity: 0;
	}
	54% {
		transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg) translateX(-50%) translateY(-50%);
		animation-timing-function: ease-in-out;
	    opacity: 1;
	}
	100% {
		transform: translateZ(0) rotate3d(1, 1, 0, 0) translateX(-50%) translateY(-50%);
		animation-timing-function: ease-out;
		opacity: 1;
	}
  }

#Navigation ul.hideMenu{
	animation: slit-out-diagonal-2 0.5s ease-in both;
}

@keyframes slit-out-diagonal-2 {
	0% {
		transform: translateZ(0) rotate3d(-1, -1, 0, 0) translateX(-50%) translateY(-50%);
	    opacity: 1;
	}
	54% {
		transform: translateZ(-160px) rotate3d(-1, -1, 0, -87deg) translateX(-50%) translateY(-50%);
	    opacity: 1;
	}
	100% {
		transform: translateZ(-800px) rotate3d(-1, -1, 0, -90deg) translateX(-50%) translateY(-50%);
	    opacity: 0;
	}
  }

#Navigation ul li{
	margin-bottom: 5vh;
	transition: 0.3s;
}
#Navigation ul li:last-of-type{
	margin-bottom: 0;
}

#Navigation ul li:hover{
	transform: scale(1.2);
    color: #fff;
    text-shadow: 2px 2px 2px deeppink;
    transition: 0.3s;
}

#navbgimg{
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	opacity: 0.2;
	z-index: -1;
	height: 90vh;
}


/********** NAVIGATION END **********/

/********** DOTS START **********/

#dots{
	position: fixed;
    right: 5vh;
    top: 50vh;
    transform: translateY(-50%)
}

.dot{
	width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #252525;
    opacity: 0.5;
    margin: 0px auto;
    margin-bottom: 10px;
}

.dot:last-of-type{
	margin-bottom: 0px;
}

.dot.active{
	width: 15px;
    height: 15px;
    opacity: 1;
    border-width: 3px;
    border-color: #555555;
    background-image: radial-gradient(#ff8ddc,#d7dde8);
}

.dot.active:before, .dot.active:after{
	content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #ff8ddc;
    margin-top: 30%;
    transform: translateY(-50%);
}

.dot.active:before{
	left: -25px;
}

.dot.active:after{
	right: -25px;
}

/********** DOTS END **********/

/********** HOME START **********/

#Home{
	position: fixed;
	width: 80vw;
	height: 80vh;
	top: 10vh;
	left: 10vw;
}

#map{
	position: absolute;
    height: 65vh;
    top: 42vh;
    left: 39vw;
    transform: translate(-50%, -50%);
}

#flamingo{
	position: absolute;
    font-family: PBS;
    color: #fff;
    text-shadow: 2px 2px 5px #252525;
    font-size: 26vh;
    top: 40vh;
    left: 41vw;
    animation: tracking-in-expand-fwd 1.5s 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand-fwd {
	0% {
	    letter-spacing: -0.5em;;
		transform: translateZ(-700px) translateX(-50%) translateY(-50%);
	    opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
		transform: translateZ(0) translateX(-50%) translateY(-50%);
	    opacity: 1;
	}
  }

#pouch{
	position: absolute;
    height: 85vh;
    top: 40vh;
    left: 42vw;
    animation: slide-in-elliptic-bottom-bck 1s 1.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-elliptic-bottom-bck {
	0% {
		transform: translateY(600px) rotateX(-30deg) scale(6.5) translateX(0);
		transform-origin: 50% -100%;
	}
	100% {
		transform: translateY(-50%) rotateX(0) scale(1) translateX(-50%);
		transform-origin: 50% 500px;
	}
  }

/********** HOME END **********/

/********** PageNumber START **********/

#page{
	display: flex;
    position: fixed;
    bottom: 1.5vh;
    left: 4vh;
    font-family: PTS;
    color: #fff;
    text-shadow: 2px 2px 5px #252525;
    font-size: 3vh;
}

#page:after{
	position: absolute;
    content: "";
    width: 5vh;
    height: 5vh;
    left: -30%;
    bottom: 5%;
    border-width: 1vh;
    border-style: solid;
    border-color: rgba(255,141,220,0.5);
    z-index: -1;
    transform: rotate(-7deg);
}

#pageNo{
	font-size: 6vh;
}

#page p:last-of-type{
	position: fixed;
	bottom: 2vh;
	left: 11vh;
}

/********** PageNumber END **********/

/********** HASHTAG START **********/

#hash{
	position: fixed;
	bottom: 1vh;
	width: 15vw;
	left: 50vw;
	transform: translateX(-50%);
	text-align: center;
	color: #fff
}

#hash p{
	font-family: PBS;
	font-size: 3vh;
}

#hash p span{
	color: #ff8ddc;
}

#hash p i{
	font-size: 2.5vh;
}

/********** HASHTAG END **********/

/********** ARROWS START **********/

#next{
	position: absolute;
    width: 3.5vh;
    height: 3.5vh;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0% 100%, 50% 50%, 0% 0%);
    background-image: linear-gradient(to right, #555, #222);
    bottom: 1vh;
    right: 0.5vh
}

#nextFrame{
	position: fixed;
    width: 8vh;
    height: 8vh;
    border-width: 0.7vh;
    border-style: solid;
    border-color: rgba(255,141,220,0.5);
    bottom: 1.5vh;
	right: 2vh;
	transform: translateX(-100vw);
}

.frameInNext{
	animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
	0% {
		transform: translateX(-100vw);
	    opacity: 0;
	}
	100% {
		transform: translateX(0);
	    opacity: 1;
	}
  }
  


#prev{
	position: absolute;
    width: 3.5vh;
    height: 3.5vh;
    clip-path: polygon(100% 0, 50% 50%, 100% 100%, 50% 100%, 0 50%, 50% 0);
    background-image: linear-gradient(to left, #555, #222);
    bottom: 1vh;
    right: 2.5vh;
}

#prevFrame{
	position: fixed;
    width: 8vh;
    height: 8vh;
    border-width: 0.7vh;
    border-style: solid;
    border-color: rgba(255,255,255,0.5);
    bottom: 3vh;
	right: 7.5vh;
	transform: translateX(100vw);
}

.frameInPrev{
	animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-right {
	0% {
		transform: translateX(100vw);
	    opacity: 0;
	}
	100% {
		transform: translateX(0);
	    opacity: 1;
	}
  }

/********** ARROWS END **********/

.screenInTop{
	animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
	0% {
		transform: translateY(-100vh);
	    opacity: 0;
	}
	100% {
		transform: translateY(0);
	    opacity: 1;
	}
  }

  .screenInBot{
	animation: slide-in-bot 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bot {
	0% {
		transform: translateY(100vh);
	    opacity: 0;
	}
	100% {
		transform: translateY(0);
	    opacity: 1;
	}
  }

  .screenOutTop{
	animation: slide-out-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-out-top {
	0% {
		transform: translateY(0);
	    opacity: 0;
	}
	100% {
		transform: translateY(-100vh);
	    opacity: 1;
	}
  }

  .screenOutBot{
	animation: slide-out-bot 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-out-bot {
	0% {
		transform: translateY(0);
	    opacity: 0;
	}
	100% {
		transform: translateY(100vh);
	    opacity: 1;
	}
  }


#Cafe,#About,#Contact,#Coffee{
	position: fixed;
	width: 80vw;
	height: 80vh;
	top: 10vh;
	left: 10vw;
	transform: translateY(-1000px);
}


#Cafe img{
	height: 100%;
	width: 100%;
}

.flipp{
	position: absolute;
}

#imgM{
	top: 2vh;
	left: 40vw;
	transform: translateX(-50%);
}

#imgF{
	top: 20vh;
	left: 4vw;
	transform: rotate(-7deg);
}

#imgL{
	top: 20vh;
	right: 4vw;
	transform: rotate(7deg);
}

.flippInside {
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flippBack{
	width: 30vw;
    height: 55vh;
    transform: rotateX(180deg);
    background: #fff;
    backface-visibility: hidden;
    z-index: 1;
    font-family: PTS;
    padding-top: 10vh;
    font-size: 4vh;
    color: #252525;
}

.flippBack span{
	color: #ff8ddc;
}

.flippFront{
	position: absolute;
    width: 30vw;
    height: 55vh;
    z-index: 2;
    border: 10px solid #fff;
	border-bottom: 45px solid #fff;
	-moz-backface-visibility: hidden;
	-moz-transform: rotateX(0deg);
}

.imgactive{
	transform: rotateX(180deg);
}

#products.grid{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 8vh 2vh 2vh 2vh;
}

.product{
	position: relative;
}

#filter{
	display: none;
	position: fixed;
    border: none;
    background: transparent;
    color: #fff;
    top: 0;
    left: 0;
    padding: 10px;
    font-family: PTS;
	border-bottom: 3px solid pink;
	margin-left: 3vw;
	font-size: 1.1rem;
}

#filter:focus, #sort:focus{
	outline: none;
}

#filter::placeholder{
	color: #ccc;
}

#sort{
	display: none;
	position: fixed;
	border: none;
    background: transparent;
    color: #fff;
    top: 0;
    left: 40vh;
    padding: 10px;
    font-family: PTS;
	background: pink;
	font-size: 1.1rem;
	transition: 0.5s;
}

#sort:hover{
	box-shadow: 2px 2px 5px #fff;
}

/* single */
.product.single{ 
	color: #fff;
	font-family: PBS;
	font-size: 5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.product.single{
	display: none;
}

.product.single.activeProduct{
	width: 100%;
	height: 100%;
	display: block;
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}

.product.single h4{
	position: fixed;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
}

.product.single img{
	height: 85vh;
    position: fixed;
    top: 5vh;
    left: 50%;
	transform: translateX(-50%);
	pointer-events: none;
}

.product.single .rate{
	position: fixed;
    font-size: 3rem;
    left: 54vw;
    top: 45vh
}

.product.single .price{
	position: fixed;
    font-size: 3rem;
    left: 54vw;
    top: 30vh
}

.product.single .neto{
	position: fixed;
    font-size: 3rem;
    left: 54vw;
    top: 65vh
}

.product.single .desc{
	position: fixed;
    font-size: 1.8rem;
    left: 0;
    top: 30vh;
    width: 25vw;
    text-align: right;
}

/* grid */
.product.grid{
	width: 19%;
	height: 30%;
    margin: 10px 0px 10px 0px;
	padding: 10px;
	border-radius: 1vh;
	overflow: hidden;
	margin-right: 1vh;
}

.product.grid:hover{
	background-color: #252525;
	transition: .5s;
}

.product.grid .neto, .product.grid .desc{
	display: none;
}

.product.grid h4{
	width: 45%;
    text-align: right;
    position: absolute;
    color: #fff;
    font-family: PBS;
    right: 1vw;
    font-size: 3vh;
    border-bottom: 2px solid pink;
}

.product.grid img{
	height: 120%;
    position: absolute;
    left: -4vw;
	top: -2vh;
	pointer-events: none;
}

.product.grid .price {
    position: absolute;
    font-family: PBS;
    color: #fff;
    right: 1vw;
    top: 9vh;
}

.product.grid .rate{
	position: absolute;
    font-family: PBS;
    color: #fff;
	right: 1vw;
	top: 13vh;
}

#changeState{
	position: absolute;
    width: 2vw;
    height: 2vw;
    right: -7vw;
    bottom: 4vh;
}

.cube.hoverGrid{
	width: 8px !important;
	height: 8px !important;
	background: #fff;
}

.cube.hoverSingle{
	width: 1vw !important;
	height: 1vw !important;
	background: #fff;
}

.cube{
	position: absolute;
    background: #252525;
    width: 1vw;
	height: 1vw;
	transition: 0.5s;
	box-shadow: 2px 2px 0px #ff8ddc;
}

.cube:nth-of-type(2){
	left: 1vw;
}

.cube:nth-of-type(3){
	top: 1vw;
}

.cube:last-of-type{
	top: 1vw;
	left: 1vw;
}

#About:before{
	content: '';
    position: absolute;
    width: 28vw;
    height: 28vw;
    top: 5vh;
    left: 7vw;
    border: 20px solid #ff8ddc;
    opacity: 0.6;
    transform: rotate(7deg);
    z-index: -1;
}

#About h2{
	color: #fff;
	font-family: PTS;
	justify-content: center;
	text-align: center;
	width: 70%;
	margin: 19vh auto;
	font-size: 5vh;
	text-shadow: 2px 2px 5px #252525;
}

#About h2 span{
	color: #ff8ddc;
}

/********FORM************/

form{
    position: fixed;
    width: 35vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.formHolder{
    display: flex;
    width: 100%;
}

.formImg{
    width: 15%;
    border-bottom: 2px solid #fff;
    height: 8vh;
}

.formImg i{
    display: block;
    width: 4vh;
    margin: 10px auto 0;
    font-size: 4vh;
    color: #FFCBFF;
}

form input{
    width: 100%;
    margin-bottom: 5vh;
    height: 8vh;
    padding: 1.5vh;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    font-size: 1rem;
    font-family: PTS;
    color: #fff;
}

#subject{
    margin-bottom: 0px;
    border:none;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

#msgImg{
    border: none;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}

#msgHol{
    margin-top: 2vh;
}

#message{
    width: 100%;
    height: 20vh;
    background: transparent;
    border: 2px solid #fff;
    border-top: none;
    padding: 1.5vh;
    font-size: 1.3rem;
    font-family: PTS;
    color: #fff;
    resize: none;
    transition: 0.5s;
}

#submit{
    width: 40%;
    height: 10vh;
    margin-top: 5vh;
    color: #FFCBFF;
    border-bottom: 2px solid #fff;
    font-size: 5vh;
    padding-top: 2.5vh;
    text-align: center;
    transition: 0.5s;
}

#submit:hover{
    background-color: #fff;
    color: #ff8ddc;
    border-color: transparent;
    box-shadow: 2px 2px 2px #ff8ddc;
}

form input:focus, #message:focus{
    outline: none;
}

::placeholder{
    font-family: PTS;
    color: rgba(255,255,255,0.5);
}

.fav{
	transition: 0.5s;
	text-shadow: 2px 2px 2px deeppink;
}

.fav.favorited{
	color: deeppink;
	text-shadow: 2px 2px 2px #252525;
}

.fav:hover{
	color: #ff8ddc;
	text-shadow: 2px 2px 2px #252525;
	transition: 0.5s;
}


/***********************************************MEDIA QUERY ***********************************************************/
@media screen and (max-width: 1300px){
	.product.grid img{
		height: 100%;
	}
}

@media screen and (max-width: 1150px){
	.product.grid img{
		height: 80%;
		top: 2vh;
		left: -3vw;;
	}

	.product.grid h4{
		font-size: 2.5vh;
		right: 2vw;
	}
}

@media screen and (max-width: 1050px){
	.product.grid img{
		left: -4vw;;
	}
}

@media screen and (max-width: 1000px){
	*{
		cursor: auto;
	}

	#cursor,#cursor_circle{
		display: none !important;
	}

	#Navigation{
		width: 8vw;
	}

	#icon{
		left: 2.5vw;
	}

	#pouch{
		height: 75vh;
	}

	#map{
		height: 55vh;
	}

	#flamingo{
		font-size: 22vh;
	}

	#navbgimg{
		height: 75vh;
	}

	#search:hover,#prevFrame:hover,#prev:hover,#nextFrame:hover,#next:hover,#icon:hover,.icon-menu:hover,#social i:hover,#Logo,.dot:hover,#Navigation ul li:hover{
		cursor: pointer;
	}

	#social i:hover{
		color: #ff8ddc;
		font-size: 3vh !important;
		transition: 0.5s;
	}

	#Coffee{
		width: 85vw;
		left: 7.5vw;
	}

	#changeState{
		right: -5vw;
	}
	
	.product.single .neto, .product.single .price, .product.single .rate{
		font-size: 2rem;
		left: 65vw;
	}
	
	.product.single .desc{
		font-size: 1.5rem;
		left: 2vw;
	}

	.flippFront:hover, .flippBack:hover{
		cursor: pointer;
	}

	.flippFront, .flippBack{
		width: 35vw;
	}

	form{
		width: 45vw;
	}
}

@media screen and (max-width: 900px){
	#social, #hash{
		width: 20vw;
	}

	#Logo, #logobox{
		height: 10vh;
	}

	#logobox{
		width: 10vh;
	}

	#pouch{
		height: 65vh;
	}

	#map{
		height: 48vh;
	}

	#flamingo{
		font-size: 19vh;
	}

	.product.grid .rate, .product.grid .price{
		display: none;
	}

	.product.grid h4{
		width: 80%;
		text-align: center;
		right: 1.5vw;
	}

	.product.grid img{
		top: 5vh;
		left: -1.5vw;
	}

	.flippBack, .flippFront{
		height: 50vh;
	}

	#imgF, #imgL{
		top: 25vh;
	}

	#imgM{
		top: 7vh;
	}
}

@media screen and (max-width: 850px){
	#navbgimg{
		height: 50vw;
	}
}

@media screen and (max-width: 800px){
	.dot{
		width: 8px;
		height: 8px;
	}
	
	.dot.active{
		width: 12px;
		height: 12px;
		border-width: 2px;
	}
	
	.dot.active:before, .dot.active:after{
		width: 15px;
	}
	
	.dot.active:before{
		left: -19px;
	}
	
	.dot.active:after{
		right: -18px;
	}
	
	#pouch{
		height: 60vh;
	}

	#map{
		height: 42vh;
	}

	#flamingo{
		font-size: 17vh;
	}

	.flippFront, .flippBack{
		width: 35vw;
		height: 45vh;
	}

	.flippBack{
		padding-top: 6vh;
	}

	.product.grid{
		width: 17%;
		margin-right: 2vh;
	}
}


@media screen and (max-width: 700px){
	#dots, #logolineup, #logolinedown, #hash{
		display: none;
	}
	
	#search {
		width: 20px;
		height: 20px;
		font-size: 13px;
		line-height: 15px;
	}
	
	#search:focus {
		width: 14vw;
		padding: 10px;
	}
	
	#search:focus + span {
		width: 13vw;
	}
	
	#search + span {
		width: 20px;
		height: 20px;
	}
	
	#search + span::before {
		width: 9px;
		height: 4px;
		transform: rotate(45deg) translate(19px, -2px);
	}

	#social{
		top: unset;
		bottom: 3vh;
		font-size: 2.5vh;
		width: 30vw;
	}

	#logobox{
		top: 1vh;
		right: 1vh;
		width: 8vh;
		height: 8vh;
	}

	#Logo{
		height: 7vh;
		right: 1vh;
		top: 1vh;
	}

	#Navigation{
		width: 65vw;
		height: 10vh;
		top: -3vw;
		left: 50vw;
		transform: translateX(-50%);
		transition: height 0.5s 1.2s, width 0.5s 0.8s, top 0.5s 0.8s;
	}

	@keyframes nload{
		0%{
			top: -100%;
		}
		50%{
			top: 0;
		}
		100%{
			top: -3vw;
		}
	}
	
	#Navigation.navout{
		width: 100vw;
		height: 135vh;
		top: 0;
		clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
		transition: height 0.5s 0.6s, clip-path 0.5s, width 0.5s 1.1s, top 0.5s 1.1s;
	}

	#Navigation ul{
		font-size: 7vh;
		width: 100vw;
	}

	#icon{
		width: 5vw;
		top: 3vh;
		left: 50vw;
	}

	#icon.iconActive .icon-menu.first{
		transform: rotate(45deg) translate(8px);
		transition: 0.5s;
		left: 0%;
	}
	
	#icon.iconActive .icon-menu.last{
		transform: rotate(-45deg) translate(8px);
		transition: 0.5s;
		left: 0%;
	}
	
	#icon.iconActive:hover .icon-menu.first{
		transform: rotate(135deg) translateY(-16px);
		transition: 0.5s;
	}
	
	#icon.iconActive:hover .icon-menu.last{
		transform: rotate(45deg);
		transition: 0.5s;
	}

	#map{
		height: 40vh;
	}

	#flamingo{
		font-size: 14vh;
	}

	#pouch{
		height: 65vh;
	}
	
	#page:after{
		width: 4vh;
		height: 4vh;
		left: -25%;
		border-width: 0.7vh;
	}
	
	#pageNo{
		font-size: 5vh;
	}
	
	#page p:last-of-type{
		left: 9vh;
	}

	#nextFrame{
		width: 6vh;
		height: 6vh;
	}
	
	#next{
		width: 3vh;
		height: 3vh;
		bottom: 0.5vh;
		right: 0;
	}

	#prev{    
		width: 3vh;
		height: 3vh;
		bottom: 0.5vh;
		right: 1vh;
	}
	
	#prevFrame{
		width: 6vh;
		height: 6vh;
		right: 6.5vh;
	}

	#Cafe,#About,#Contact,#Coffee{
		width: 100vw;
		left: 0px;
	}

	#Coffee{
		top: 11vh;
	}

	.product.grid{
		width: 18%;;
	}

	.product.grid img{
		height: 75%;
	}

	#filter{
		padding: 7px;
		font-size: 1rem;
	}

	#changeState{
		right: 15vw;
		bottom: -5vh;
	}

	#About:before{
		width: 40vw;
		height: 40vw;
	}

	.product.single{
		font-size: 4rem;
	}

	.product.single img{
		height: 75vh;
    	top: 12vh;
	}

	.product.single .neto, .product.single .price, .product.single .rate {
		font-size: 1.8rem;
		left: 75vw;
	}

	.flippFront, .flippBack {
		width: 40vw;
	}

	.flippBack{
		font-size: 3.5vh;
	}

	form{
		width: 55vw;
	}

	#imgM{
		left: 50vw;
	}
}

@media screen and (max-width: 650px){
	#changeState{
		display: none;
	}

	#About h2{
		font-size: 4vh;
	}

	#About:before{
		width:35vw;
		height:35vw;
		top:7vh;
	}

	.flippFront, .flippBack {
		height: 40vh;
	}

	.flippFront{
		border-bottom-width: 10px;
	}

	.flippBack {
		font-size: 3vh;
		padding: 6vh 3vh;
	}

	.product.single h4{
		width: 100vw;
		text-align: center;
	}

	.product.single img{
		height: 65vh;
	}

	.product.single .price{
		font-size: 1.5rem;
		top: 25vh;
	}

	.product.single .rate{
		font-size: 1.5rem;
		top: 42.5vh;
	}

	.product.single .neto{
		font-size: 1.5rem;
		top: 60vh;
	}

	.product.single .desc{
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 550px){
	.flippFront, .flippBack {
		height: 35vh;
	}

	.flippBack {
		font-size: 2.5vh;
	}

	#submit {
		width: 60%;
	}
}

@media screen and (max-width: 500px){
	#pouch{
		height: 55vh;
	}

	#flamingo{
		font-size: 14vh;
	}

	#map{
		height: 36vh;
	}

	.product.single img{
		height: 50vh;
		left: 30%;
	}

	.product.single .price{
		left: 60vw
	}

	.product.single .rate{
		left: 60vw;
		top: 36vh;
	}

	.product.single .neto{
		left: 60vw;
		top: 50vh;
	}

	.product.single .desc{
		padding-top: 20px;
		border-top: 2px solid #ff8ddc;
		left: 10vw;
		text-align: left;
		top: 63vh;
    	width: 80vw;
	}

	.flippFront, .flippBack {
		width: 45vw;
	}

	#imgF,#imgL{
		top: 30vh;
	}

	#imgM{
		top: 12vh;
	}

	form{
		width: 70vw;
	}
}

@media screen and (max-width: 450px){
	#Logo, #logobox, #search-box{
		display: none;
	}

	#Navigation{
		width: 100vw;
		left: unset;
		transform: none;
	}

	#icon{
		width: 8vw;
	}

	#social{
		width: 33vw;
	}

	#pouch{
		height: 62vw;
	}

	#map{
		height: 46vw;
	}

	#flamingo{
		font-size: 18vw;
	}

	#Navigation ul{
		font-size: 5vh;
	}
}

@media screen and (max-width: 400px){
	#About h2{
		font-size: 3.5vh;
	}

	#About:before{
		width: 50vw;
    	height: 50vw;
		top: 10vh;
		left: 10vw;
		border-width: 15px;
	}

	.flippFront, .flippBack {
		width: 65vw;
		height: 40vh;
	}

	.flippBack{
		font-size: 3vh;
	}

	#imgF{
		transform: none;
		top: 0vh;
	}

	#imgM{
		left: unset;
		right: 4vw;
		top: 25vh;
		transform: none;
	}

	#imgL{
		right: unset;
		transform: none;
		left: 4vw;
		top: 41vh;
	}

	form{
		width: 90vw;
	}
}

@media screen and (max-width: 320px){
	.product.single .desc {
		font-size: 1rem;
	}

	.product.single .neto, .product.single .price, .product.single .rate {
		left: 65vw;
	}

	.flippFront, .flippBack {
		height: 30vh;
	}

	.flippBack{
		font-size: 2.5vh;
		padding: 5vh 3vh;
	}

	#imgF{
		top: 10vh;
	}

	#page{
		left: 3vh;
	}

	#page p:last-of-type {
		left: 8.5vh;
	}

	#About h2 {
		font-size: 3.2vh;
	}
}